cloud_id                 = "b1g"
folder_id                = "b1g"
zone                     = "ru-central1-a"
image_id                 = "fdj"
network_id               = "enp"
subnet_id                = "e9b"
service_account_id       = "aje"
node_service_account_id  = "aje"
public_key_path          = "~/.ssh/id_rsa.pub"
